/*--------------- Basic Setup -----------*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    cursor: pointer;
    color: #000;
    transition: color 0.5s;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
        clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------- Reusable Components -----------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
    
}

.box {
    padding: 1%;
}

/* ---HEADINGS--- */
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 250%;
    color: #efefef;
    word-spacing: 4px;
    letter-spacing: 1px;
}


h2 {
    font-size; 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #f3cc2f;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*-------------- HEADER ----------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('img/rock-person.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto:
    float: left;
    margin: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s; 
    padding: 7px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #F1C40F;
}

.you {
    color: #f3cc2f;
}

/* ---BUTTONS--- */

.btn {
    margin: 50px;
}
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 500px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #f3cc2f;
     border: 1px solid #f3cc2f;
    color: #fff;
    margin-right: 15px;
    padding-riglt: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
   border: 1px solid #f3cc2f;
    color:  #d2aa0c;
 
}

.btn:hover,
.btn:active {
    background-color: #d2aa0c;
}

.btn-full:hover,
.btn-full:active {
     border: 1px solid #d2aa0c;
}

.btn-ghost:hover,
.btn-ghost:active{
   border: 1px solid #d2aa0c;
    color:  #fff;
} 



/* ---FEATURE PARAGRAPH--- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%
}

.box p {
    font-size: 90%;
    line-height: 145%;
}



/* --- Life ---*/
.section-life {
    padding: 0;
}
.life-showcase {
    list-style: none;
    width: 100%;
}

.life-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.life-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.life-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    
}
.life-photo img:hover {
    transform: scale(1.01);
    opacity: 1;
}


/* ----Miscellaneous ----*/
em {
    color: #F1C40F;
}

i {
    font-size: 50px;
    margin: 0;
    padding: 0 100px;
    float: center;
    
}