/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Arial, sans-serif;
	background-color: #000000;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Navigation Section */
.top-nav {
	background-color: #fff;
	color: #000;
}
.nav-wrappe
}
.top-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	min-width: 200px;
}
.top-nav ul li {
	display: inline-block;
}
.top-nav ul li:hover {
	background-color: #333;
}
.top-nav ul li a, li:visited {
	color: #aaa;
	display: block;
	text-decoration: none;
	padding: 15px;
}
.top-nav ul li a:hover {
	color: #ccc;
	text-decoration: none;	
}
.top-nav ul li:hover ul {
	visibility: visible;
}
.top-nav ul ul {
	visibility: hidden;
	position: absolute;
	background-color: #333;
	border-top: 0;

}
.top-nav ul ul li{
	display: block;
	background-color: #333;
	text-align: left;
}
.top-nav ul ul li a:hover {
	color: #669;
}

/* Introduction Section */
.intro {
	background-image: url('img/rock-person.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: cover;	
	background-size: 100%;
	height: 40rem;
	padding: 0 auto;

	color: #fff;
}
/* Inpsiration Updates */
.tabs {
	text-align: center;
	padding: 0;
	margin: 0;
	color: white;
	font-family: "josefin Slab", serif;
	font-weight: 100 thin;
	font-size: 17px;
}
.tabs .road {
	background-image: url("img/sunrise-road.jpg");
	background-position: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 500px;
}

.tabs .edge {
	background-image: url("img/person-ledge.jpg");
	background-position: cover;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height:500px;
}
.tabs .madders {
	background-image: url("img/m&m.jpg");
	background-position: cover;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 300px;
}
.tabs a {
	color: #eee;
}
br {
	color: white;
}

/* Contact and Review */

.contact .content {
	color: #fff;
	text-align: center;
	border: none;
}

.contact input {
		margin: .5rem 0;
}

/* Footer and Social Icons */
.social .content {
	text-align: center;
	margin-top: 5rem;
	color: #fff;
	border-top: 1px solid #fff;
}
.social li {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
.social hr {
	border: 0;
	border-style: 2rem solid #fff;
	margin: 1rem 0;
}
.social .icons > li {
	border: transparent;
    border-radius: 50rem;
    width: 2.5rem;
    height: 1rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #fff;
    padding: 0.625rem 0;
    text-align: center;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
   color: ;
}
.social li a:visited {
	color: #ffff00;
}
