/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Josefin Slab', sans-serif;
	line-height: 135%;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Navigation Section */
.top-nav {
	background-color: #fff;
	}
.nav-wrapper {
	text-align: right;
}
.top-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	min-width: 200px;
}
.top-nav ul li {
	display: inline-block;
}
.top-nav ul li:hover {
	background-color: #333;
}
.top-nav ul li a, li:visited {
	color: #aaa;
	display: block;
	text-decoration: none;
	padding: 15px;
}
.top-nav ul li a:hover {
	color: #ffff00;
	text-decoration: none;	
}
.top-nav ul li:hover ul {
	visibility: visible;
}
.top-nav ul ul {
	visibility: hidden;
	position: absolute;
	background-color: #333;
}
.top-nav ul ul li{
	display: block;
	background-color: #333;
	text-align: left;
}
.top-nav ul ul li a:hover {
	color: #ffff00;
}

/* Introduction Section */
.intro {
	background-image: url('img/rock-person.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed; 	
	background-size: 100%;
	height: 50rem;
	padding: 0 auto;
	color: #fff;
}
.intro h2 {
	font-family: 'Josefin Slab', serif;
	text-align: left;
	margin-left: 150px;
	padding-top: 150px;
	font-size: 75px;
}
.intro p {
	float: right;
	font-family: 'Josefin Slab', serif;
	margin-right:100px;
	margin-top: 170px;
	font-size: 75px;
}
.intro button {
	float: right;
	background-color: transparent;
	border: 1px solid #ffffff;
	height: 65px;
	width: 20%;
	font-size: 25px;
	border-radius: 10px;
	margin-top: 65px;
	margin-right: -70px;
}
.intro .inspire:hover {
	background-color: #ffff00;
	color: #000000;
}

br {
	color: #c8cccc;
}

/* Daily Inspiration */
.inspiration {
	clear: both;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffff00;
	height: 50rem;
}
.inspiration h1 {
	border-bottom: 1px solid black;
	width: 
}
.inspiration h1, .inspiration p {
	font-family: 'Josefin Slab', serif;
	max-width: 37.5rem;
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
	letter-spacing: 150%;
}
/* Contact and Review */

/* Footer and Social Icons */
.social .content {
	text-align: center;
	margin-top: 5rem;
	background-color: #000;
	border-top: 1px solid #fff;
}
.social li {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
.social hr {
	border: 0;
	border-style: 2rem solid #fff;
	margin: 1rem 0;
}
.social .icons > li {
	border: transparent;
    border-radius: 50rem;
    width: 2.5rem;
    height: 1rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #fff;
    padding: 0.625rem 0;
    text-align: center;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
   color: #fff;
}
.social li a:visited {
	color: #ffff00;
}
